langchain-openai
langchain
langchain-chroma
langchain-community
streamlit
pandas
numpy
wonderwords
beautifulsoup4
requests
sentence_transformers
chromadb
unstructured
python-docx
boto3
#pip3 install torch torchvision torchaudio --index-url https://download.pytorch.org/whl/cu118